body {
    background: url(img/bgphoto.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: arial;
}

main {
    padding: 300px 0;
    text-align: center;
}

kbd {
    font-size: 1.5rem;
}

.drumkey {
    padding: .5rem;
    width: 3rem;
    height: 3rem;
    margin: 0.2rem;
    background-color: rgba(0, 0, 0, 0.75);
    display: inline-block;
    border-radius: .2rem;
    border: 3px solid black;
    text-align: center;
    transition: all 0.07s;
}

.drumkey kbd {
    color: white;
}

.sound {
    color: yellow;
    font-size: .4rem;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}